h1{
    color:black;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h3{
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
  background-color: azure;  
}
.Mainbody:hover{
    background-color: springgreen;
}
.SecondMainbody:hover{
    background-color: springgreen;
}
.Mainbody{
    margin-top: 10px;
    height: 500px;
    width: 750px;
    background-color: salmon;
    float: left;
}
.lastlastbodyMain{
    width: 100%;
    height: 50%;
    background-color: tomato;
    float: left;
    padding-left: 550px;


}
.lastlastbodyMain:hover{
    background-color:springgreen;
}
.lastbodyMain{
    width: 100%;
    height: 50%;
    background-color: tomato;
    float: left;
    margin-top: 15px;
    padding-left: 660px;
    padding-top: 45px;

}
.lastbodyMain:hover{
    background-color: springgreen;
}

.MainbodyParagraph{
padding: 10px;   
font-size: large; 
}
.SecondMainbody{
    margin-top: 10px;
    margin-left: 20px;
    height: 500px;
    width: 790px;
    background-color: salmon;
    float: left;
}
.Mainbodyheading{
    padding-top: 50px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:red;
  }
  .lastul{
  margin: 0px;    
  }
  